body{
  /* background-color: #777; */
  background-color: #1D1D1D;
}

.App{
  /* background-color: #777; */
  background-color: #1D1D1D;
  width:100%;
  margin:0px auto;

  border-radius: 15px;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color:#fff;
}